@mixin flex-wrapper($direction){
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@mixin button($color, $bg_color) {
  border: none;
  text-decoration: none;
  text-align: center;
  background-color: $bg_color;
  color: $color;
}