@import 'util/variables.scss';
@import 'util/mixins.scss';
@import 'login.scss';
@import 'sidebar.scss';
@import 'dashboard.scss';
@import 'home.scss';
@import 'util/animations.scss';
@import 'util/util.scss';
@import 'editable-input.scss';
@import 'modal.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
