@import 'variables.scss';
@import 'mixins.scss';
@import 'login.scss';
@import 'sidebar.scss';
@import 'dashboard.scss';
@import 'home.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
