$google-btn-bg-color: #1da1f2;
$google-btn-bg-color-darker: #1877f2;
$background-color: #fff;
$primary-button-color: #3498db;
$primary-button-color-dark: #2980b9;
$dashboard-bg-color: #ecf0f1;
$secondary-button-color: #e67e22;
$secondary-button-color-dark:#D35400 ;
$tertiary-button-color: #2ECC71;
$tertiary-button-color-dark: #27AE60;
$grey: #eeeeee;
$dark-grey: #e0e0e0;
$darker-grey: #34495e;
$secondary-background-color: #fafafa;
$tertiary-background-color: #ddd;
$text-dark: #2C3E50;
$text-dark-light:#34495E;
